<!-- Modal -->
<div class="modal fade" id="BankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Bank</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       
            <form action="/admin/bank" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="bankName">Bank Name</label>
                  <input type="text" class="form-control" id="" name="bankName" placeholder="Enter Bank Name" required>
                  
                  <label for="bankNumber">Bank Number</label>
                  <input type="text" class="form-control" id="" name="bankNumber" placeholder="Enter Bank Number" required>
                  
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="" name="name" placeholder="Enter Name" required>

                  <label for="imageUrl">Bank Image </label>
                  <input type="file" class="form-control" id="" name="image" required>
                </div>
               
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>