<!-- Modal -->
<div class="modal fade" id="editBankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Bank</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form action="/admin/bank?_method=PUT" method="post" enctype="multipart/form-data">
            <input type="hidden" class="_id" name="id">
            <div class="modal-body">
              <div class="form-group">
                <label for="bankName">Bank Name</label>
                <input type="text" class="form-control bank_Name" id="" name="bankName" placeholder="Enter Bank Name" required>
                
                <label for="bankNumber">Bank Number</label>
                <input type="text"  class="form-control bank_Number" id="" name="bankNumber" placeholder="Enter Bank Number" required>
                
                <label for="name">Name</label>
                <input type="text" class="form-control _name" id="" name="name" placeholder="Enter Name" required>

                <label for="imageUrl">Bank Image </label>
                <input type="file" class="form-control" id="" name="image">
                  <span>PIlih gambar untuk update image</span>
                </div>
              </div>
              
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- <button type="submit" class="btn btn-primary" id="check">Submit</button> -->
              </div>
            </form>
      </div>
    </div>
  </div>
  