<div class="tab-pane fade show" id="show-activity" role="tabpanel" aria-labelledby="activity-tab">
    <div class="card-shadow mb-4 mt-2">
<div class="card-body">
  
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
             <form action="/admin/bank" method="POST" enctype="multipart/form-data">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="" name="name" placeholder="Enter Feature Name" required>
                  
                  <label for="type">Type</label>
                  <input type="text" class="form-control" id="" name="type" placeholder="Enter Quantity" required>
             
                  <label for="imageUrl">Bank Image </label>
                  <input type="file" class="form-control" id="" name="image" required>
                  <div class="modal-footer">
                </div>        
                    <button type="submit" class="btn btn-primary">Submit</button>
             </form>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered" id="dataTableActivity" width="100%" cellspacing="0">
                <thead>
                    <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Action</th>
                    </tr>
                </thead>
            <tbody>
              
            </tbody>
            </table>
        </div>
    </div>
        </div>
    </div>
</div>
